In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/nba.csv')

In [4]:
df.head()

,#,Season Start,Player Name,Player Salary in $,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,24304,2017,A.J. Hammons,"$1,312,611.00",C,24,DAL,22,0,163,...,0.450,8,28,36,4,1,13,10,21,48
1,24165,2017,Aaron Brooks,"$2,116,955.00",PG,32,IND,65,0,894,...,0.800,18,51,69,125,25,9,66,93,322
2,24289,2017,Aaron Gordon,"$5,504,420.00",SF,21,ORL,80,72,2298,...,0.719,116,289,405,150,64,40,89,172,1019
3,24315,2017,Aaron Harrison,NaN,SG,22,CHO,5,0,17,...,0.500,0,3,3,3,0,0,0,2,1
4,24523,2017,Adreian Payne,NaN,PF,25,MIN,18,0,135,...,0.737,9,24,33,7,8,7,8,32,63

In [5]:
df.columns

Index(['#', 'Season Start', 'Player Name', ' Player Salary in $ ', 'Pos',
       'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS',
       'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS'],
      dtype='object')

In [6]:
# lets just look at points, rebounds, and asists

In [10]:
df[df['Player Name'] == 'LeBron James'][['PTS', 'TRB', 'AST']]

      PTS  TRB  AST
293  1954  640  646

Which players had the closest season to LeBron?

In [11]:
from sklearn.neighbors import NearestNeighbors

In [12]:
nn = NearestNeighbors()

In [13]:
nn.fit(df[['PTS', 'TRB', 'AST']])

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [17]:
nn.kneighbors(df.loc[293, ['PTS', 'TRB', 'AST']].values.reshape(1, -1))

(array([[  0.        , 251.84916121, 315.47266126, 316.83591968,
         348.9025652 ]]), array([[293, 160, 425, 217,  88]]))

In [18]:
df.loc[[293, 160, 425, 217, 88], 'Player Name']

293             LeBron James
160    Giannis Antetokounmpo
425            Stephen Curry
217             Jimmy Butler
88            Damian Lillard
Name: Player Name, dtype: object